---

---

<div class="nav">
  <a href="/">Home</a>
  <a href="/album">Album</a>
  <a href="/gallery">Gallery</a>
  <a href="/video">Video</a>
  <a href="/about">About</a>
</div>

<style>
  .nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
  .nav a {
    margin-left: 10px;
    color: #fff;
    font-family: "Akkurat Mono";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
  }
</style>
